body {
    background-color: azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:50%;
    margin: auto;
}

h1 {
    text-align: center;
    color:red;
}

.ul-style {
    background-color: rgb(226, 226, 226);
    text-align: center;
    padding:1px;


}

.li-style {
    display:contents;
 

}

.link {
    color: black;
    font-weight: bold;


}

img {
    width:50%;
    height:50%;
       
}
